<!doctype html>
<html>
  <head>
    <title>File Upload</title>
	<script>
	  function preview_image(event) {
			var reader = new FileReader();
			reader.onload = function(){
			  var output = document.getElementById('output_image');
			  output.src = reader.result;
			}
			reader.readAsDataURL(event.target.files[0]);
	  }
	</script>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="plant" multiple="false" accept="image/*"  onchange="preview_image(event)"></p>
	  <p><img id="output_image" height="250px" width="250px"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>

